In [1]:
import pandas as pd

In [4]:
!awk '$3 == "gene" && $7 == "-" {print $1"\t"$4"\t"$5}' /rna/myk/analysis/class/guided_mission_bio/binfo1-datapack1/gencode.gtf > /rna/myk/analysis/class/guided_mission_bio/binfo1-datapack1/gencode_negstrand.gtf.bed

In [6]:
refneg = pd.read_csv("/rna/myk/analysis/class/guided_mission_bio/binfo1-datapack1/gencode_negstrand.gtf.bed", sep="\t", header=None)
refneg.columns = ["chr", "start", "end"]
refneg = refneg[refneg["chr"] != "chrM"]
refneg

        chr     start       end
0      chr1   3276124   3741721
1      chr1   3435954   3438772
2      chr1   3445779   3448011
3      chr1   3535200   3537508
4      chr1   3582674   3584730
...     ...       ...       ...
27575  chrY  90510316  90542914
27576  chrY  90614770  90617133
27577  chrY  90676615  90678894
27578  chrY  90763696  90766736
27579  chrY  90850138  90850446

[27580 rows x 3 columns]

In [ ]:
base = ['A', 'T', 'G', 'C']
hexamer_whole_list = [''.join(combination) for combination in itertools.product(base, repeat=6)]

motif_counts = {'motif': sevenmer_whole_list, 'motif_down' : [], 'motif_notdown' : []}
for motif in sevenmer_whole_list:
    motif_down_count = sum(1 for tid in df_down['transcript_id'] if gene_data.get(tid, '').find(motif) != -1)
    motif_notdown_count = sum(1 for tid in df_up['transcript_id'] if gene_data.get(tid, '').find(motif) != -1)
    motif_counts['motif_down'].append(motif_down_count)
    motif_counts['motif_notdown'].append(motif_notdown_count)

df_motif = pd.DataFrame(motif_counts)

df_motif['notmotif_down'] = len(df_down) - df_motif['motif_down']
df_motif['notmotif_notdown'] = len(df_up) - df_motif['motif_notdown']

df_motif['motif_down'] = df_motif['motif_down'].astype(int)
df_motif['motif_notdown'] = df_motif['motif_notdown'].astype(int)
df_motif['notmotif_down'] = df_motif['notmotif_down'].astype(int)
df_motif['notmotif_notdown'] = df_motif['notmotif_notdown'].astype(int)

df_motif